
 <link rel="stylesheet" href="/second.css">


<div class="fish">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div>Home: {{home}}</div>
  <div>Size: {{size}}</div>
  <div>Preferred cooking mothod: {{Preferred cooking mothod}}</div>
  <div>Preditor: {{Preditor}}</div>

</div>
